doctype html
head
  title UXMedia
    block title
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  meta(name='description' content='명지대학교 UX Media lab, 지도교수 : 김상균')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(defer src='https://use.fontawesome.com/releases/v5.2.0/js/all.js') 
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/jquery.magnific-popup.min.js")
  script(src="/javascripts/jquery.dropotron.min.js")
  script(src="/javascripts/browser.min.js")
  script(src="/javascripts/breakpoints.min.js")
  script(src="/javascripts/util.js")
  script(src="/javascripts/main.js")
  script(src="/javascripts/slideshow.js")
  script(src="/javascripts/photo.js")
#page-wrapper
  // Header
  #header-wrapper
    #header.container
      // Logo
      h1#logo
        a(href='/') UX Media
      // Nav
      nav#nav
        ul
          li
            a(href='/member') Members
          li
            a(href='/project') Project
          li.break
            a(href='/publication') Publication
          li.active
            a(href='#') Board
            ul
              li
                a(href='/notice') Notice
              li
                a(href='/photo') Photo
          if !currentUser
            li.sign_in
              a(href='/signin') Login
          else
            li.sign_in
              a(href='/signout') Logout

    block main
    section#head-title
      block headtitle
  block content
  footer.container
    block comment
    .contact
      ul
        li 
          i.fas.fa-map-marker-alt.fa-sm
          |  서울특별시 서대문구 거북골로 34 명지대학교 
        li
          i.fas.fa-phone-volume.fa-sm
          |  (+82) 02-123-4567
        li 
          i.far.fa-envelope.fa-sm
          |  abc@mju.ac.kr
