extends layout

block content
  .wrapper
    #main.container
      header.memberTitle
        h2 Professor
        br
      .row.features
        section.col-4.col-12-narrower.featrue
          img.memberImage(src="{% static 'images/professorK.jpg' %}" alt='Professor')
        section.col-8.col-12-narrower.featrue
          h3.memberName KIM, Sang-Kyun
          br
          p &#xC9C0;&#xB3C4;&#xAD50;&#xC218; &#xAE40;&#xC0C1;&#xADE0; (Tel. 031)330-6443
          p &#xC18C;&#xC18D;: &#xBA85;&#xC9C0;&#xB300;&#xD559;&#xAD50; &#xC735;&#xD569;&#xC18C;&#xD504;&#xD2B8;&#xC6E8;&#xC5B4;&#xD559;&#xBD80;
          p &#xC9C1;&#xC704;(&#xC9C1;&#xAE09;): &#xC9C0;&#xB3C4;&#xAD50;&#xC218;
          p &#xC774;&#xBA54;&#xC77C;: goldmunt@gmail.com
      br
      br
      .memberTitle
        h2 Students
      br
      .row.features
        section.col-4.col-12-narrower.featrue
          img.memberImage(src="{% static 'images/dojinYou.jpg' %}" alt='Professor')
        section.col-8.col-12-narrower.featrue
          h3.memberName You, dojin
          br
          p &#xC18C;&#xC18D;: &#xBA85;&#xC9C0;&#xB300;&#xD559;&#xAD50; &#xC735;&#xD569;&#xC18C;&#xD504;&#xD2B8;&#xC6E8;&#xC5B4;&#xD559;&#xBD80;
          p &#xC9C1;&#xC704;(&#xC9C1;&#xAE09;): &#xD559;&#xBD80;&#xC5F0;&#xAD6C;&#xC0DD;
          p &#xC774;&#xBA54;&#xC77C;: dojin@gmail.com