extends layout
block headtitle
  h2 Notice
block content
    style.
        .pagination {
        list-style-type : none;
        padding:0;
        margin :0 auto;
        text-align:center;
        }
        .pagination > li{
        display : inline;
        }

    .wrapper
      #main.container
        // Content
        article#content
            #main.container
            header.memberTitle
              h2= notice.title
              
            p
              pre= notice.content
            //- -if(notice.attachement){
            //-   div 첨부파일
            //-     div= notice.attachement.originalFileName
            //- }
            div
              button.n_writebtn(onclick=`location.href='/notice/delete/${notice._id}'`) 삭제

              button.n_writebtn(onclick=`location.href='/notice/edit/${notice._id}'`) 수정