extends layout

block content
    style.
        .pagination {
        list-style-type : none;
        padding:0;
        margin :0 auto;
        text-align:center;
        }
        .pagination > li{
        display : inline;
        }

    .wrapper
      #main.container
        // Content
        article#content
            #main.container
            header.memberTitle
              p Notice
              h2 UXM에 오신 것을 환영합니다
              
            p.text-center 
                | 먼저 바쁘신 와중에도 오늘 동아시아에서의 소비자보호 국제학술회의 에
                |참석해 주신 내외 귀빈 여러분께 감사의 말씀을 드립니다. 특히 오늘 행사를
                |위해 물심양면으로 아낌없는 지원을 해주신 이기준 서울대총장님과 한국소비
                |자보호원 허승 원장님, 그리고 어려운 여건 하에서 오늘 발표와 토론을 위한
                |준비를 하시느라 그동안 애써주신 교수님들과 발표자 여러분, 특히 멀리 독일
                |에서 오신 Waltjen 교수와 일본에서 오신 야수나가 교수 그리고 쯔부라야 교
                |수, 중국에서 오신 량휘싱 교수님들께 깊은 감사를 드립니다.
            p.text-center
                |날로 증가하고 있는 한․중․일 간의 인적․물적 교류에 비추어 적어도 동
                |북아 3국간의 상호이해와 공동협력증진의 필요성은 모두 인식하고 있다고 생
                |각됩니다. 말할 것도 없이 오늘의 이 국제학술행사는 동북아시아에서의 상호
                |이해증진과 공동협력을 위한 희망을 실현하고자 하는 노력의 일환으로 마련되
                |었습니다. 특히 이 자리에서는 한․중․일 세 나라의 소비자보호의 문제를
                |논의하기로 하였습니다. 그 중 소비자계약의 문제와 제조물책임을 중점적으로
                |논의할 것입니다. 
            p.text-center    
                |이 행사는 세 나라의 제도를 각각 연구하고 이를 모범으로
                |삼아 각국의 제도를 발전시킬 뿐만 아니라 동아시아의 국제거래에 있어서 소
                |비자보호에 관한 상호이해와 협력증진 노력의 출발점이 되리라고 믿습니다.
                |덧붙여 이 행사는 서울대학교 법학연구소와 현재 한국의 소비자보호문제의 최
                |전선에서 활동하고 있는 한국소비자보호원이 함께 주최하게 되어 이론과 실무
                |가 조화를 이룰 수 있는 좋은 기회가 될 것이라고 생각합니다. 이 행사가 각
                |국이 자체적으로 마련한 소비자보호 제도에 대한 새로운 시각과 상호이해의
                |기회를 제공할 수 있는 소중한 자리가 될 것으로 자부하고 있으며 이를 계기
                |로 더욱 진전된 연구와 교류가 계속될 것이라고 확신합니다.               