extends layout
block headtitle
  h2 Notice
block content
    style.
        .pagination {
        list-style-type : none;
        padding:0;
        margin :0 auto;
        text-align:center;
        }
        .pagination > li{
        display : inline;
        }

    .wrapper
      #main.container
        // Content
        article#content
            #main.container
            header.memberTitle
              h2= notice.title
              
            p
              pre= notice.content
            
            br
            p
            -if(notice.paper_url)
              a(href='../'+notice.paper_url target='_blank')
                  i.fas.fa-file-download.fa-2x
                  span 다운로드

            
            div
              button.n_writebtn(onclick=`location.href='/notice/delete/${notice._id}'`) 삭제

              button.n_writebtn(onclick=`location.href='/notice/edit/${notice._id}'`) 수정