extends layout
block headtitle
  h2 Notice
block content
    style.
        #submits{
            display: block;
            margin:0 auto;
            padding:0 auto;
        }
        input[type="text"]{
            display:inline;
        }
        input[type="file"]{
            margin:0 auto;
        }
        input[type="text"],textarea{
            weight:100%;
            overflow:scroll;
        }
        h1 {
            display:inline;
            
        }
        #cont {
            
            height:400px;
            font-size:18px;
            color:gray;
            
        }
    .wrapper
      #main.container
        // Content
        article#content
            #main.container
            header.memberTitle
        
              h2 공지사항 작성
            hr
            form(action=`./${notice._id}` method="post")
                input(name="title" style="color:black;font-size:1.3em;" type="text" value=`${notice.title}`)
                hr
                textarea(name="content" id="cont" )= `${notice.content}`
                br
                //- .col-12
                //-     input(width=100 type="file" name="attachment" accept="image/*")
                //- br
                button.btn(id="submits" type="submit" onclick="location.href='/notice'") Submit