extends layout
block content
  .wrapper
    main.container
      article.gallery
        h2 제목입니다.
        .popup-gallery
          a.image(href='/images/1.jpg')
            img(src='/images/1.jpg' alt='테스트')
            .photo_description 더 보기
          a.image(href='/images/2.jpg')
            img(src='/images/2.jpg' alt='테스트')
          a.image(href='/images/3.jpg')
            img(src='/images/3.jpg' alt='테스트')
          a.image(href='/images/4.jpg')
            img(src='/images/4.jpg' alt='테스트')
          a.image(href='/images/5.jpg')
            img(src='/images/5.jpg' alt='테스트')
          a.image(href='/images/6.jpg')
            img(src='/images/6.jpg' alt='테스트')
          a.image(href='/images/7.jpg')
            img(src='/images/7.jpg' alt='테스트')
          a.image(href='/images/8.jpg')
            img(src='/images/8.jpg' alt='테스트')
      article.gallery
        h2 제목2
        .popup-gallery
          a.image(href='/images/1.jpg')
            img(src='/images/1.jpg' alt='테스트')
          a.image(href='/images/2.jpg')
            img(src='/images/2.jpg' alt='테스트')
          a.image(href='/images/3.jpg')
            img(src='/images/3.jpg' alt='테스트')
          a.image(href='/images/4.jpg')
            img(src='/images/4.jpg' alt='테스트')
          a.image(href='/images/5.jpg')
            img(src='/images/5.jpg' alt='테스트')
          a.image(href='/images/6.jpg')
            img(src='/images/6.jpg' alt='테스트')
          a.image(href='/images/7.jpg')
            img(src='/images/7.jpg' alt='테스트')
          a.image(href='/images/8.jpg')
            img(src='/images/8.jpg' alt='테스트')
          a.image(href='/images/20200806_workshop.jpg')
            img(src='/images/20200806_workshop.jpg' alt='테스트')
          a.image(href='/images/20200716_deeplearning.jpg')
            img(src='/images/20200716_deeplearning.jpg' alt='테스트')
          a.image(href='/images/20200716_deeplearning.jpg')
            img(src='/images/20200716_deeplearning.jpg' alt='테스트')