extends layout
block content
  .wrapper
    main.container
      section.photo-container
        figure
          img(src="/images/20200806_workshop.jpg" alt='테스트용 사진' height='300px' title='2020년 08월 06일 워크숍 사진')
          figcaption
            .img-description 워크숍일정;
            .img-date 2020년 08월 06일
        figure
          img(src="/images/20200716_deeplearning.jpg" alt='테스트용 사진' height='300px' title='2020년 07월 16일 딥러닝 회의 사진')
          figcaption
            .img-description 딥러닝회의
            .img-date 2020년 07월 16일