extends layout
block headtitle
  h2 Photo
block content
  .wrapper
    main.container
      section.p_info
        header
          h2 제목1
          p 20.01.01
        p 어쩌구저쩌구
      section.gallery
        .popup-gallery.detail
          a.image(href='/images/20200716_deeplearning.jpg')
            img(src='/images/20200716_deeplearning.jpg' alt='테스트')
            .photo_description 더 보기
          a.image(href='/images/20200806_workshop.jpg')
            img(src='/images/20200806_workshop.jpg' alt='테스트')
          a.image(href='/images/dojinYou.jpg')
            img(src='/images/dojinYou.jpg' alt='테스트')
          a.image(href='/images/professorK.jpg')
            img(src='/images/professorK.jpg' alt='테스트')
          a.image(href='/images/slideshow1.jpg')
            img(src='/images/slideshow1.jpg' alt='테스트')
          a.image(href='/images/slideshow2.jpg')
            img(src='/images/slideshow2.jpg' alt='테스트')
          a.image(href='/images/slideshow3.jpg')
            img(src='/images/slideshow3.jpg' alt='테스트')
          a.image(href='/images/13.jpg')
            img(src='/images/13.jpg' alt='테스트')
      section.back
        input(type='button' value='돌아가기' onclick='history.back(-1);')