extends index
block content
    //- | {% block title %} Project {% endblock title %}
    //- | {% block headtitle %}Project{% endblock headtitle %}
    //- | {% block content %}
    .wrapper
      h1= title
      #main.container
        // Content
        article#content
          header
            p 국책 과제 (Government funded projects)
          ol
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
        br
        article#content
          header
            p 산학 과제 (Industrial collaboration projects)
          ol
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
        br
        article#content
          header
            p 내부 과제 (Internal projects)
          ol
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
            li 영문 과제명(한글과제명)[xxxx.x~xxxx.x]
