extends layout
block headtitle
  h2 Publication
block content
  .wrapper
    main.container
      nav.sub_menu
        ul
          li
            a.on(href="#") 해외학술지
          li
            a(href="#") 해외학회발표
          li
            a(href="#") 국내학술지
          li
            a(href="#") 국내학회발표
      section.content
        table.p_content
          thead
            tr
              th Author
              th Title
              th Journal/Confernce
          tbody
            each publicaion in publications
              tr
                td= publicaion.author
                td= publicaion.title_kr
                td= publicaion.journal
                  a(href='/publication/detail/'+publicaion._id)
                    i.fas.fa-info-circle
      section.btn_box.admin
        button.btn(onclick="location.href='/publication/upload'") 논문 업로드
