extends layout
block headtitle
  h2 Publication
block content
  .wrapper
    main.container
      nav.sub_menu
        ul
          li
            a.on(href="#") 해외학술지
          li
            a(href="#") 해외학회발표
          li
            a(href="#") 국내학술지
          li
            a(href="#") 국내학회발표
      section.content
        table.p_content
          thead
            tr
              th Author
              th Title
              th Journal/Confernce
          tbody
            each val in [1,2,3,4,5,6,7,8]
              tr
                td= '논문 저자'+ val
                td= '논문 제목'+ val
                td 어디어디학술지
                  a(href='/publication_detail')
                    i.fas.fa-info-circle